$button-colors: (
  colorButton1: #0e6cff,
  colorButton2: #ff820e,
  colorButton3: #258616,
);

@mixin button-styles {
  @each $name, $color in $button-colors {
    .btn-#{$name} {
      background-color: $color;
      color: azure;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($color, 10%);
      }
    }
  }
}

.btn-colorButton1 {
  @include button-styles;
}

.btn-colorButton2 {
  @include button-styles;
}

.btn-colorButton3 {
  @include button-styles;
}
